.input-group:not(:last-child) {
	margin-bottom: 15px;
}
.input-group {
	width: 100%;
}
.input-group-addon:not(.auto-resize) {
	width: 130px;
}
.btn-group {
	width: 50%;
}
.btn {
	width: 50%;
}
.alert {
	margin-top: 15px;
}
form {
	margin: 20px 0 0;
}
#help-container {
	margin: 20px 0 0;
}